<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>入场登记</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
	<link href="static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/vendor/chartist/css/chartist.min.css">
	<!-- Vectormap -->
	<link href="static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<!-- <link href="static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet"> -->

	<link href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/4.5.3/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<style>
		.modal-body{
			height: 700px;overflow-y: auto;
		}
		/*  .input-group input,
		 .input-group-prepend,
		 button.btn.dropdown-toggle.btn-light.bs-placeholder
		 {
			height: 30px;
		} */
		/* .input-group-prepend{
			height: 30px;
		}
		button.btn.dropdown-toggle.btn-light.bs-placeholder
		{
			height: 30px;
		} */
	</style>
</head>
<body>

	<!--*******************
		Preloader start
	********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
		Preloader end
	********************-->
	<!--**********************************
		Main wrapper start
	***********************************-->
	<div id="main-wrapper">


		<!--**********************************
			Header end ti-comment-alt
		***********************************-->
		<!--**********************************
			Sidebar start
		***********************************-->
		<div class="dlabnav">
			<div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
					<li>
						<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">人员登记</span>
						</a>
						<ul aria-expanded="true">
							<li><a href="fieldPersonnelAdd" class="mm-active">入场人员登记</a></li>
							<li><a href="LeaveCheckAdd">请假人员登记</a></li>
							<li><a href="OffSiteCheckAdd">离场人员登记</a></li>

							
						</ul>
					</li>
				
				</ul>
			
				<div class="copyright">
				
				</div>
			</div>
		</div>
		<!--**********************************
			Sidebar end
		***********************************-->
		<!--**********************************
			Content body start
		***********************************-->
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<!-- Add Order -->
				<div class="modal fade" id="addOrderModalside">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Create Project</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label class="text-black font-w500">Project Name</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Deadline</label>
										<input type="date" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Client Name</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary">CREATE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="main_container" class="todoapp">
							<div class="card">
													<div class="card-header">
														入场登记

													</div>
													<div class="card-body">
														<div class="basic-form">
															<form id="formAdd">

																<div class="input-group mb-3 input-warning">
																	<div class="input-group-prepend">
																		<span class="input-group-text">姓名</span>
																	</div>
																	<input type="text" class="form-control" name="name" id="name" v-model="clientDto.name">
																</div>
																<div class="input-group mb-3 input-success">
																	<div class="input-group-prepend">
																		<span class="input-group-text">性别</span>
																	</div>
																	<select class="form-control" v-model="clientDto.sex" name="sex" id="sex" required>
																		<option value="1" selected>男</option>
																		<option value="0" >女</option>
																	</select>
																</div>

																<div class="input-group mb-3 input-danger">
																	<div class="input-group-prepend">
																		<span class="input-group-text">手机号</span>
																	</div>
																	<input type="text"   class="form-control" name="phone" id="phone" v-model="clientDto.phone" >


																</div>
																<div class="input-group mb-3 input-info">
																	<div class="input-group-prepend">
																		<span class="input-group-text">工作单位名称</span>
																	</div>
																	<input type="text" class="form-control" name="company"  id="company" v-model="clientDto.company" >
																</div>
																<div class="input-group mb-3  input-success" title="只能上传jpg文件">
																	<div class="input-group-prepend">
																		<span class="input-group-text">照片</span>
																	</div>
																	<input  id="input-b1" name="input-b1" type="file"  data-show-preview="false" data-show-upload="false">
																	{% comment %} <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true"> {% endcomment %}

																</div>

<!--
																<div class="form-row align-items-center">
																	<div class="col-center" style="
    margin: 0 auto;
">
																	<button title="保存" class="btn btn-warning" data-toggle="modal" @click.native="saveClients" >
									<span>保存</span>
								</button>

																	&lt;!&ndash;	<div class=" custom-control custom-checkbox mb-3 checkbox-warning">
																			<input class="custom-control-input" type="checkbox" id="requireClientSecret" v-model="clientDto.requireClientSecret">
																			<label class="custom-control-label" for="requireClientSecret">
																				需要填写secret
																			</label>&ndash;&gt;
																		</div>
																	</div>-->



															</form>
															<div class="modal-footer">
												<button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary" onclick="saveClients()">Save changes</button>
											</div>
				</div>
														</div>
													</div>
												</div>



					</div>

			</div>
		</div>
		<!--**********************************
			Content body end
		***********************************-->
		<!--**********************************
			Footer start
		***********************************-->
		<div class="footer">
			<div class="copyright">
				<p>Copyright © Designed &amp; Developed by  2020</p>
			</div>
		</div>
		<!--**********************************
			Footer end
		***********************************-->
		<!--**********************************
		   Support ticket button start
		***********************************-->
		<!--**********************************
		   Support ticket button end
		***********************************-->


	</div>
	<!--**********************************
		Main wrapper end
	***********************************-->
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->

	<script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
	<script src="static/vendor/global/global.min.js"></script>

	<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/Chart.js/2.8.0/Chart.min.js" type="application/javascript"></script>
	<script src="static/js/custom.min.js"></script>
	<script src="static/js/dlabnav-init.js"></script>
	<script src="static/vendor/owl-carousel/owl.carousel.js"></script>


	<!-- Chart piety plugin files -->
	<script src="static/vendor/peity/jquery.peity.min.js"></script>

	<!-- Apex Chart -->
	<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/apexcharts/3.20.0/apexcharts.min.js"></script>
	<script src="static/js/showTip.js"></script>

	<!-- Dashboard 1 -->
	<!--<script src="/lib/jquery/dist/jquery.min.js"></script>-->
	<script src="static/lib/bootstrap/dist/js/bootstrap.js"></script>


	<link href="static/BootstrapTabs_files/font-awesome.min.css" rel="stylesheet" />

	<script src="static/lib/bootstrap/dist/js/bootstrap-table.min.js"></script>
	<script src="static/lib/bootstrap/dist/js/bootstrap-table-zh-CN.js"></script>
	<link href="static/lib/bootstrap/dist/css/bootstrap-table.min.css" rel="stylesheet" />
	<script src="static/js/axios.min.js"></script>
	<script src="static/js/vue.min.js"></script>
		<script src="static/js/fileinput.js"></script>
	<link href="static/css/fileinput.css" rel="stylesheet" />

	<!-- <script src="static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
	<link rel="stylesheet" href="static/css/style2csstoggle.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
	<script type="text/javascript">

		$(function(){
			$('#input-b1').fileinput({
        language: 'zh', //设置语言
 
        uploadExtraData: function(previewId, index) {   //该插件可以向您的服务器方法发送附加数据。这可以通过uploadExtraData在键值对中设置为关联数组对象来完成。所以如果你有设置uploadExtraData={id:'kv-1'}，在PHP中你可以读取这些数据$_POST['id']
            var id = $('#id').val();
            return {seriesId: id};
        },
		 showUpload: false, //是否显示上传按钮
        showRemove: true, //显示移除按钮
        showPreview: false, //是否显示预览
        allowedFileExtensions: ['jpg']//接收的文件后缀
		})})


		
		let tableIndex;
  		let saveClients=function () {
					let _this = {};
					//_this.filename = $('#input-b1')[0].files[0];
					_this.imgUrl ='/files/'+$('#name').val()+"_"+(timeUtil.getLocalTime()+".jpg");// $('#input-b1')[0].files[0].name;
					_this.phone =$('#phone').val();
					_this.company =$('#company').val();
					_this.name =$('#name').val();
					_this.sex =parseInt( $('#sex').val());
					_this.idcard =(timeUtil.getLocalTime());
					_this.created_time=timeUtil.getFullTime();

					  

       // fd.append("filename", $('#input-b1')[0].files[0]);
       // fd.append("imgUrl", '/files/'+$('#input-b1')[0].files[0].name);
        $.ajax({
            url: '/FieldPersonnel/',
            type: 'post',
            processData: false,
            contentType: 'application/json',
            data:JSON.stringify( _this),
            success: function () {
				var fd = new FormData();
				
					   fd.append("filename",$('#input-b1')[0].files[0],$('#name').val()+"_"+(_this.created_time+".jpg"));
					   
					
				$.ajax({
            url: '/FieldPersonnel/',
            type: 'post',
            processData: false,
            contentType: false,
            data:fd,
            success: function () {
				Swal.fire("成功", "点击了确定", "success");
            }
        })
           

            	
            }
        })



				}
	
		

	</script>
</body>
</html>